.v-application .align-center {
  align-items: center !important;
}
.nav-bar {
  background-color: #283e79 !important;
}
.text-white {
  color: white;
}
a {
  text-decoration: none;
}
v-btn,
v-card {
  border-radius: 4px !important;
}
.btn-submit {
  height: 100px;
  background-color: #283e79 !important;
}
.error-text {
  color: red;
  font-size: 12px;
  line-height: 12px;
  padding-right: 12px;
}

.small-text {
  font-size: 11px;
}

.justify-center {
  justify-content: center;
}
